.under{
  background-color: #e8694b;
  text-align: center;
  margin: 20% 0;
  height: 300px;
}

.under h3{
  color: #FFF;
}

.inner > .tagline {
	color: #fff;
}

.portfolio > .main_container{
  margin-top: 70px;
}
/*
.features-wrapper p {
	color: #fff;
}

p {
	color: #fff;
}*/

